.text-center-align {
    text-align: center;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.custom-container {
    margin-top: 15%;
    margin-left: 35%;
    margin-right: 35%;
}

.mr-5 {
    margin-right: 5px;
}

.color-black {
    color: black;
}

.color-black:hover {
    color: black;
}

.color-white {
    color: white;
}

.color-white:hover {
    color: white;
    text-decoration: none;
}

