.form-div {
    margin-top: 25px !important;
}

.float-right {
    float: right;
}

.posts-div {
    margin-top: 15px;
    margin-left: 35%;
    margin-right: 35%;
}

.mr-5 {
    margin-right: 5px;
}
